http_interactions:
- request:
    method: get
    uri: https://api.carbonintensity.org.uk/intensity/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: cbdb84be-4134-45e2-a265-fe230e3ebf26
      x-amz-apigw-id: enrf0FnqrPEFmlQ=
    body:
      encoding: UTF-8
      file: no
      string: "{ \r\n  \"data\":[{ \r\n    \"from\": \"2021-04-30T22:30Z\",\r\n    \"to\":
        \"2021-04-30T23:00Z\",\r\n    \"intensity\": {\r\n      \"forecast\": 255,\r\n
        \     \"actual\": null, \r\n      \"index\": \"moderate\"\r\n    }\r\n  }]\r\n}"
  recorded_at: 2021-04-30 23:01:57 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
