http_interactions:
- request:
    method: get
    uri: https://api.carbonintensity.org.uk/intensity/2020-01-01T00:00Z/2020-01-02T23:59Z
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: 13d82335-da02-41f6-8bf7-e496fa77ba0a
      x-amz-apigw-id: enrf2F9qrPEFbMw=
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"from":"2019-12-31T23:30Z","to":"2020-01-01T00:00Z","intensity":{"forecast":183,"actual":180,"index":"moderate"}},{"from":"2020-01-01T00:00Z","to":"2020-01-01T00:30Z","intensity":{"forecast":178,"actual":182,"index":"moderate"}},{"from":"2020-01-01T00:30Z","to":"2020-01-01T01:00Z","intensity":{"forecast":176,"actual":181,"index":"moderate"}},{"from":"2020-01-01T01:00Z","to":"2020-01-01T01:30Z","intensity":{"forecast":185,"actual":176,"index":"moderate"}},{"from":"2020-01-01T01:30Z","to":"2020-01-01T02:00Z","intensity":{"forecast":181,"actual":175,"index":"moderate"}},{"from":"2020-01-01T02:00Z"[...]
