http_interactions:
- request:
    method: get
    uri: https://api.carbonintensity.org.uk/intensity/stats/2019-04-01T00:00Z/2019-04-07T23:59Z/2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: fb4726c0-ace9-4e92-a2cd-45bbf0180ad3
      x-amz-apigw-id: enpoZE7irPEFVzg=
    body:
      encoding: UTF-8
      file: no
      string: "{ \r\n  \"data\":[{ \r\n    \"from\": \"2019-04-01T00:00Z\",\r\n    \"to\":
        \"2019-04-01T02:00Z\",\r\n    \"intensity\": {\r\n      \"max\": 171,\r\n
        \     \"average\": 167,\r\n      \"min\": 161,\r\n      \"index\": \"moderate\"\r\n
        \   }\r\n  },\r\n  { \r\n    \"from\": \"2019-04-01T02:00Z\",\r\n    \"to\":
        \"2019-04-01T04:00Z\",\r\n    \"intensity\": {\r\n      \"max\": 169,\r\n
        \     \"average\": 166,\r\n      \"min\": 162,\r\n      \"index\": \"moderate\"\r\n
        \   }\r\n  },\r\n  { \r\n    \"from\": \"2019-04-01T04:00Z\",\r\n    \"to\":
        \"2019-04-01T06:00Z\",\r\n    \"intensity\": {\r\n      \"max\": 230,\r\n
        \     \"average\": 207,\r\n      \"min\": 183,\r[...]
