http_interactions:
- request:
    method: get
    uri: https://api.carbonintensity.org.uk/intensity/stats/2019-04-01T00:00Z/2019-04-07T23:59Z
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: 20f08e00-58f4-466f-89d8-081c15d9c59c
      x-amz-apigw-id: enpn-FA7LPEFeGg=
    body:
      encoding: UTF-8
      file: no
      string: "{ \r\n  \"data\":[{ \r\n    \"from\": \"2019-04-01T00:00Z\",\r\n    \"to\":
        \"2019-04-07T23:59Z\",\r\n    \"intensity\": {\r\n      \"max\": 294,\r\n
        \     \"average\": 224,\r\n      \"min\": 112,\r\n      \"index\": \"moderate\"\r\n
        \   }\r\n  }]\r\n}"
  recorded_at: 2021-04-30 22:49:12 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
