http_interactions:
- request:
    method: get
    uri: https://api.carbonintensity.org.uk/generation/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: 00b5840b-98b4-4aef-bc02-83427ab13f52
      x-amz-apigw-id: enk6bF4TLPEFelg=
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"from":"2021-04-30T21:30Z","to":"2021-04-30T22:00Z","generationmix":[{"fuel":"biomass","perc":7.8},{"fuel":"coal","perc":1.2},{"fuel":"imports","perc":10.6},{"fuel":"gas","perc":58.6},{"fuel":"nuclear","perc":17.7},{"fuel":"other","perc":0},{"fuel":"hydro","perc":1.2},{"fuel":"solar","perc":0},{"fuel":"wind","perc":3}]}}'
  recorded_at: 2021-04-30 22:17:01 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
