http_interactions:
- request:
    method: get
    uri: https://api.carbonintensity.org.uk/regional/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: c5f49fa3-da52-46b4-a363-f8ee78f048fc
      x-amz-apigw-id: enrf9HFfrPEFuHQ=
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"from":"2021-04-30T22:30Z","to":"2021-04-30T23:00Z","regions":[{"regionid":1,"dnoregion":"Scottish
        Hydro Electric Power Distribution","shortname":"North Scotland","intensity":{"forecast":300,"index":"high"},"generationmix":[{"fuel":"biomass","perc":0},{"fuel":"coal","perc":0},{"fuel":"imports","perc":0},{"fuel":"gas","perc":76.2},{"fuel":"nuclear","perc":0},{"fuel":"other","perc":0},{"fuel":"hydro","perc":13.7},{"fuel":"solar","perc":0},{"fuel":"wind","perc":10}]},{"regionid":2,"dnoregion":"SP
        Distribution","shortname":"South Scotland","intensity":{"forecast":151,"index":"low"},"generationmix":[{"fuel":"biomass","perc":11.6},{"fuel":"coal","perc":0},{"fuel":"imports","perc":0},{"fuel":"gas","perc":34.7},{"fuel":"nuclear","perc":37.[...]
