http_interactions:
- request:
    method: get
    uri: https://api.carbonintensity.org.uk/regional/intensity/2020-01-01T00:00Z/2020-01-02T23:59Z
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: fac0c7fa-d8c5-49f5-b869-9cf59a9dfbbf
      x-amz-apigw-id: enrgJGIKrPEFVTQ=
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"from":"2019-12-31T23:30Z","to":"2020-01-01T00:00Z","regions":[{"regionid":1,"dnoregion":"Scottish
        Hydro Electric Power Distribution","shortname":"North Scotland","intensity":{"forecast":48,"index":"very
        low"},"generationmix":[{"fuel":"biomass","perc":0},{"fuel":"coal","perc":0},{"fuel":"imports","perc":0},{"fuel":"gas","perc":12.2},{"fuel":"nuclear","perc":0},{"fuel":"other","perc":0},{"fuel":"hydro","perc":27.1},{"fuel":"solar","perc":0},{"fuel":"wind","perc":60.7}]},{"regionid":2,"dnoregion":"SP
        Distribution","shortname":"South Scotland","intensity":{"forecast":15,"index":"very
        low"},"generationmix":[{"fuel":"biomass","perc":2},{"fuel":"coal","perc":0},{"fuel":"imports","perc":0},{"fuel":"gas","perc":3.4},{"fuel":"nuclear",[...]
