http_interactions:
- request:
    method: get
    uri: https://api.carbonintensity.org.uk/regional/england/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: 897ec8a3-9cc2-4542-8397-718a23825402
      x-amz-apigw-id: enrgBH8WrPEFQFQ=
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"regionid":15,"dnoregion":"England","shortname":"England","data":[{"from":"2021-04-30T22:30Z","to":"2021-04-30T23:00Z","intensity":{"forecast":243,"index":"moderate"},"generationmix":[{"fuel":"biomass","perc":9.1},{"fuel":"coal","perc":0.5},{"fuel":"imports","perc":12.6},{"fuel":"gas","perc":55.2},{"fuel":"nuclear","perc":20.5},{"fuel":"other","perc":0},{"fuel":"hydro","perc":0.2},{"fuel":"solar","perc":0},{"fuel":"wind","perc":1.9}]}]}]}'
  recorded_at: 2021-04-30 23:01:58 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
