http_interactions:
- request:
    method: get
    uri: https://api.carbonintensity.org.uk/regional/postcode/EN2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: 8a941df5-57cc-43fc-a7a5-c0c1d65c39d4
      x-amz-apigw-id: enrgoGnZLPEFiGQ=
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"regionid":9,"dnoregion":"UKPN East","shortname":"East England","postcode":"EN2","data":[{"from":"2021-04-30T22:30Z","to":"2021-04-30T23:00Z","intensity":{"forecast":309,"index":"high"},"generationmix":[{"fuel":"biomass","perc":0},{"fuel":"coal","perc":0},{"fuel":"imports","perc":14.6},{"fuel":"gas","perc":75.5},{"fuel":"nuclear","perc":6.8},{"fuel":"other","perc":0},{"fuel":"hydro","perc":0.2},{"fuel":"solar","perc":0},{"fuel":"wind","perc":2.9}]}]}]}'
  recorded_at: 2021-04-30 23:02:02 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
