http_interactions:
- request:
    method: get
    uri: https://api.carbonintensity.org.uk/regional/intensity/2019-01-01T00:00Z/2019-01-02T23:59Z/postcode/EN2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: 903e5bcb-c598-4c9a-9b6e-571669595025
      x-amz-apigw-id: enrgrFd9rPEFtlQ=
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"regionid":10,"shortname":"East England","postcode":"EN2","data":[{"from":"2018-12-31T23:30Z","to":"2019-01-01T00:00Z","intensity":{"forecast":105,"index":"low"},"generationmix":[{"fuel":"biomass","perc":0},{"fuel":"coal","perc":0},{"fuel":"imports","perc":0},{"fuel":"gas","perc":27.3},{"fuel":"nuclear","perc":37.9},{"fuel":"other","perc":0},{"fuel":"hydro","perc":0},{"fuel":"solar","perc":0},{"fuel":"wind","perc":34.8}]},{"from":"2019-01-01T00:00Z","to":"2019-01-01T00:30Z","intensity":{"forecast":99,"index":"low"},"generationmix":[{"fuel":"biomass","perc":0},{"fuel":"coal","perc":0},{"fuel":"imports","perc":0},{"fuel":"gas","perc":25.3},{"fuel":"nuclear","perc":39.2},{"fuel":"other","perc":0},{[...]
