http_interactions:
- request:
    method: get
    uri: https://api.carbonintensity.org.uk/generation/2019-04-01T00:00Z/2019-04-07T23:59Z
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: 0aeaf8f8-8cff-4078-9839-3383f7ea9e6b
      x-amz-apigw-id: enk6lF5QrPEFelg=
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"from":"2019-03-31T23:30Z","to":"2019-04-01T00:00Z","generationmix":[{"fuel":"biomass","perc":9.9},{"fuel":"coal","perc":0},{"fuel":"imports","perc":10},{"fuel":"gas","perc":28.9},{"fuel":"nuclear","perc":26.1},{"fuel":"other","perc":0.3},{"fuel":"hydro","perc":1.3},{"fuel":"solar","perc":0},{"fuel":"wind","perc":23.5}]},{"from":"2019-04-01T00:00Z","to":"2019-04-01T00:30Z","generationmix":[{"fuel":"biomass","perc":9.7},{"fuel":"coal","perc":0},{"fuel":"imports","perc":9.9},{"fuel":"gas","perc":29.6},{"fuel":"nuclear","perc":25.7},{"fuel":"other","perc":0.3},{"fuel":"hydro","perc":1.3},{"[...]
