http_interactions:
- request:
    method: get
    uri: https://api.carbonintensity.org.uk/regional/intensity/2020-01-01T00:00Z/2020-01-02T23:59Z/regionid/13
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: 3ba890c6-2988-435f-b023-63ff6b0868a4
      x-amz-apigw-id: enrgiH5erPEFhbg=
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"regionid":13,"dnoregion":"UKPN London","shortname":"London","data":[{"from":"2019-12-31T23:30Z","to":"2020-01-01T00:00Z","intensity":{"forecast":199,"index":"moderate"},"generationmix":[{"fuel":"biomass","perc":0.7},{"fuel":"coal","perc":0},{"fuel":"imports","perc":73.4},{"fuel":"gas","perc":14.2},{"fuel":"nuclear","perc":0},{"fuel":"other","perc":0},{"fuel":"hydro","perc":1.6},{"fuel":"solar","perc":0},{"fuel":"wind","perc":10.1}]},{"from":"2020-01-01T00:00Z","to":"2020-01-01T00:30Z","intensity":{"forecast":206,"index":"moderate"},"generationmix":[{"fuel":"biomass","perc":3.7},{"fuel":"coal","perc":0.1},{"fuel":"imports","perc":66.7},{"fuel":"gas","perc":17.9},{"fuel":"nuclear","perc":0.2},{"fuel":"ot[...]
